header {
    background: var(--dark-beige);
    height:70px;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    }

    .menu_Btn{
        border:none;
        background-color:transparent
    }

    #MenuNav{
        position:absolute;
        background-color:  var(--main-white);
        right:0;
        padding:40px 30px 10px 20px;
        z-index:1;
        box-shadow: var(--shadow_main_picture);
    }

    .menu_header p{
        padding-left:20px;
        font-size: var(--Bouton_menu);
        font-family: 'Roboto';
        font-weight: 800;
    }

    .menu_header a{
        text-decoration: none;
        color:black
    }

    .menu_header hr{
        color: var(--dark-beige);
        height: 1px;
        background-color: var(--dark-beige);
        border: 0;
        margin:20px
        }

    .menu_langue{
        padding-top:50px;
        display: flex; 
    }

    #MenuNav img{
        padding-right:5px
    }

    