.picture_width_max{
    width:100%
}

.pictorialisme_index{
  background-color: var(--beige);
  margin-bottom:20px
}

.pictorialisme_index p{
    font-size: var(--Texte-Alegreya);
    font-family: 'Alegreya';
    margin-bottom:1rem
}

.index_Btn{
  border:none;
  background-color:var(--beige)
}

.carrousel_parent-ecrans {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    }
    
    .carrousel_ecran {
        width: 70%;
        flex:none;
        scroll-snap-align: start;
        position:relative
    }
    
      .carrousel {
      position: relative;
    }

      .carrousel_ecran img{
        object-fit: contain;
        width: 100%;
        height: 237px;
      }

      .carousel_dot{
        margin-left: auto;
        margin-right: auto;
        width:90px      
      }

       .carrousel_ecran figcaption{
        position: relative; 
        text-align:right 
       }
       .carrousel_ecran figcaption h2{
        padding-right:40px;
       }

       figure {
        position:relative;
        max-width: 260px;
        margin: auto;
    }

      figcaption {
          padding: 3px;
          text-align: center;
          position:absolute;
          bottom:100px;
      }
      
      #ecran-3 figcaption, #ecran-2 figcaption{
        bottom: 70px
      }

      figcaption a{
        text-decoration: none;
        color:white;
        text-shadow: var(--shadow_text_carousel) ;   
      }

    .orange{
      color: var(--orange)
    }