img{
    margin-right:auto;
    margin-left:auto;
    display:block;
}

.image_description{
    font-size: var(--Small-text-Ubuntu);
    font-family: 'Ubuntu';
    color: var(--dark-grey);
    padding-bottom:20px
}

.article_img{
    padding-top:30px
}

.picture_width_max{
    width:100%
}
