
.contact_text{
    display:flex;
    margin-left:12%;
    padding-bottom:5px;
    padding-top:5px;
    width:280px;
    border-radius:5px;
    border:none;
    font-size: var(--Text-Ubuntu);
    font-family: 'Ubuntu';
}

#msg{
    height:300px;
}

#msg, #name, #objet{
background-color: var(--dark-beige);
opacity: 0.5;
}

.contact_button{
    background-color: var(--orange);
    border:none;
    padding:2px 52px 2px 52px;
    border-radius: 5px;
    font-size: var(--sous-titre);
    font-family: 'Alegreya';
    margin:10px 0px 30px 0px;
    margin-left:160px
}